---
import { GsapPlugin, MainProps } from "../../core/type";
interface Props extends MainProps {}

const {
  title = "Astro boilerplate",
  description = "What is this?",
  includeFontAwesome = false,
  includeGsap = undefined,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
  rel="stylesheet"
/>
{
  includeFontAwesome && (
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  )
}
{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" />

}

{
  includeGsap && includeGsap.enabled && (
    <>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" />
      <script src="./scr.js"/>
      <script is:inline define:vars={{
        includeGsap,
        pluginType: GsapPlugin
      }}>
        gsap.config({trialWarn: false});
        {
          includeGsap.plugins?.includes(pluginType.SplitText) && gsap.registerPlugin(SplitText);
          // includeGsap.plugins?.includes(pluginType.DrawSVG) && gsap.registerPlugin(DrawSVGPlugin);
          includeGsap.plugins?.includes(pluginType.Inertia) && gsap.registerPlugin(InertiaPlugin);

        }
      </script>
    </>
  )
}
